.entry-content a.done-button,
a.done-button {

	background-color: lightslategrey;
	color: #fff;

	display: inline-block;
	cursor: pointer;
	text-decoration: none;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;

	padding: 0 15px;
	line-height: 30px;
	font-size: 14px;
	text-transform: uppercase;

	.fa {
		margin-right: 7px;
	}

	&:hover {
		background-color: darken( lightslategrey, 25%);
	}

	&.disabled {

		background-color: #fff;
		border: 2px solid lightslategrey;
		color: lightslategrey;

		i { }

		&:hover {
			cursor: default;
			background-color: inherit;
		}

	}

}
